footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
    width: 300px;
}

footer p {
    margin-top: 16px;
    color: #FFF;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}